Repository vishniakov-nikolai/openvino, pull requests merged in 2023-09, with the labels that each got.

#42 Init runtime
  samples/js/node/README.md
  samples/js/node/package-lock.json
  src/bindings/js/node/.gitignore
  src/bindings/js/node/binding.gyp
  src/bindings/js/node/include/node_output.hpp
  src/bindings/js/node/include/tensor.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download_runtime.js
  src/bindings/js/node/scripts/setupvars.sh
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/node_output.cpp
  src/bindings/js/node/src/tensor.cpp
  src/bindings/js/node/tests/tensor.test.js
  src/bindings/js/tsconfig.json
Labels: category: samples, category: docs

#43 Remove js-wasm changes and cleanup
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/features.cmake
  samples/js/assets/images/coco224x224.jpg
  samples/js/node/notebooks/001-hello-world.nnb
  samples/js/node/package-lock.json
  src/bindings/js/node/tests/basic.test.js
  src/bindings/python/CMakeLists.txt
  src/frontends/common/src/manager.cpp
  src/inference/src/dev/core_impl.cpp
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/plugin.cpp
  tools/mo/CMakeLists.txt
Labels: category: samples, category: build, category: Core, category: inference, category: MO, category: Python API, category: TEMPLATE

#45 Remove empty line
  src/frontends/common/src/manager.cpp
Labels: category: Core

#39 Make get_output_tensors() private method
  samples/js/node/notebooks/213-question-answering.nnb
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: samples

#46 Read model async by default
  samples/js/node/README.md
  samples/js/node/classification_sample_async/classification_sample_async.js
  samples/js/node/hello_classification/hello_classification.js
  samples/js/node/hello_reshape_ssd/hello_reshape_ssd.js
  samples/js/node/helpers.js
  samples/js/node/notebooks/001-hello-world.nnb
  samples/js/node/notebooks/003-hello-segmentation.nnb
  samples/js/node/notebooks/004-hello-detection.nnb
  samples/js/node/notebooks/213-question-answering.nnb
  samples/js/node/package-lock.json
  samples/js/node/package.json
  src/bindings/js/node/include/async_reader.hpp
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download_runtime.js
  src/bindings/js/node/src/async_reader.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/basic.test.js
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: samples, category: docs

#47 Remove asyncInfer(inferRequest, data, callback)
  samples/js/node/classification_sample_async/classification_sample_async.js
  src/bindings/js/node/binding.gyp
  src/bindings/js/node/include/async_infer.hpp
  src/bindings/js/node/src/addon.cpp
  src/bindings/js/node/src/async_infer.cpp
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: samples

#48 Replace opencv package
  samples/js/node/classification_sample_async/classification_sample_async.js
  samples/js/node/hello_classification/hello_classification.js
  samples/js/node/hello_reshape_ssd/hello_reshape_ssd.js
  samples/js/node/helpers.js
  samples/js/node/notebooks/001-hello-world.nnb
  samples/js/node/notebooks/003-hello-segmentation.nnb
  samples/js/node/notebooks/004-hello-detection.nnb
  samples/js/node/notebooks/213-question-answering.nnb
  samples/js/node/package-lock.json
  samples/js/node/package.json
Labels: category: samples

#49 Cleanup code
  samples/js/node/.eslintrc.js
  samples/js/node/README.md
  samples/js/node/classification_sample_async/README.md
  samples/js/node/classification_sample_async/classification_sample_async.js
  samples/js/node/hello_classification/hello_classification.js
  samples/js/node/hello_reshape_ssd/README.md
  samples/js/node/hello_reshape_ssd/hello_reshape_ssd.js
  samples/js/node/helpers.js
  samples/js/node/notebooks/213-question-answering.nnb
  samples/js/node/notebooks/tokens_bert.js
  samples/js/node/package-lock.json
  samples/js/node/package.json
  src/bindings/js/README.md
  src/bindings/js/docs/README.md
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: samples, category: docs

#51 Remove static
  samples/js/assets/datasets/.gitignore
  samples/js/assets/imagenet_classes_map.json
  samples/js/assets/images/.gitignore
  samples/js/assets/images/coco.jpg
  samples/js/assets/images/empty_road_mapillary.jpg
  samples/js/assets/images/intel_rnb.jpg
  samples/js/assets/text/.gitignore
  samples/js/assets/text/vocab.txt
  samples/js/node/classification_sample_async/README.md
  samples/js/node/hello_classification/README.md
  samples/js/node/hello_reshape_ssd/README.md
  samples/js/node/notebooks/001-hello-world.nnb
  samples/js/node/notebooks/003-hello-segmentation.nnb
  samples/js/node/notebooks/004-hello-detection.nnb
  samples/js/node/notebooks/213-question-answering.nnb
  samples/js/node/notebooks/tokens_bert.js
Labels: category: samples, category: docs
