Repository vishniakov-nikolai/openvino, pull requests merged in 2023-12, with the labels that each got.

#71 Move SetInstanceData to addon.cpp
  src/bindings/js/node/include/addon.hpp
  src/bindings/js/node/src/addon.cpp
  src/bindings/js/node/src/compiled_model.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/src/node_output.cpp
  src/bindings/js/node/src/partial_shape_wrap.cpp
  src/bindings/js/node/src/preprocess/pre_post_process_wrap.cpp
  src/bindings/js/node/src/tensor.cpp
Labels: no-match-files

#74 Associate prototypes of classes with Napi::Env
  src/bindings/js/node/include/addon.hpp
  src/bindings/js/node/src/addon.cpp
  src/bindings/js/node/src/compiled_model.cpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/src/node_output.cpp
  src/bindings/js/node/src/partial_shape_wrap.cpp
  src/bindings/js/node/src/preprocess/pre_post_process_wrap.cpp
  src/bindings/js/node/src/tensor.cpp
  src/bindings/js/node/tests/basic.test.js
  src/bindings/js/node/tests/infer_request.test.js
  src/bindings/js/node/tests/read_model.test.js
Labels: no-match-files

#75 Fix review comments
  src/bindings/js/node/include/addon.hpp
  src/bindings/js/node/include/async_reader.hpp
  src/bindings/js/node/include/compiled_model.hpp
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/include/element_type.hpp
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/include/infer_request.hpp
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/include/node_output.hpp
  src/bindings/js/node/include/partial_shape_wrap.hpp
  src/bindings/js/node/include/preprocess/input_info.hpp
  src/bindings/js/node/include/preprocess/input_model_info.hpp
  src/bindings/js/node/include/preprocess/input_tensor_info.hpp
  src/bindings/js/node/include/preprocess/output_info.hpp
  src/bindings/js/node/include/preprocess/output_tensor_info.hpp
  src/bindings/js/node/include/preprocess/pre_post_process_wrap.hpp
  src/bindings/js/node/include/preprocess/preprocess.hpp
  src/bindings/js/node/include/preprocess/preprocess_steps.hpp
  src/bindings/js/node/include/read_model_args.hpp
  src/bindings/js/node/include/tensor.hpp
  src/bindings/js/node/src/addon.cpp
  src/bindings/js/node/src/async_reader.cpp
  src/bindings/js/node/src/compiled_model.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/src/node_output.cpp
  src/bindings/js/node/src/partial_shape_wrap.cpp
  src/bindings/js/node/src/preprocess/input_info.cpp
  src/bindings/js/node/src/preprocess/input_model_info.cpp
  src/bindings/js/node/src/preprocess/input_tensor_info.cpp
  src/bindings/js/node/src/preprocess/output_info.cpp
  src/bindings/js/node/src/preprocess/output_tensor_info.cpp
  src/bindings/js/node/src/preprocess/pre_post_process_wrap.cpp
  src/bindings/js/node/src/preprocess/preprocess.cpp
  src/bindings/js/node/src/preprocess/preprocess_steps.cpp
  src/bindings/js/node/src/preprocess/resize_algorithm.cpp
  src/bindings/js/node/src/tensor.cpp
  src/bindings/js/node/tests/tensor.test.js
Labels: no-match-files

#76 Change args init, add OPENVINO_ASSERT
  src/bindings/js/node/include/async_reader.hpp
Labels: no-match-files

#73 Add cpack config for NPM build
  cmake/developer_package/packaging/archive.cmake
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/npm.cmake
  cmake/developer_package/packaging/nsis.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  cmake/packaging/npm.cmake
  cmake/packaging/packaging.cmake
  src/bindings/js/CMakeLists.txt
  src/bindings/js/node/.npmignore
  src/bindings/js/node/CMakeLists.txt
  src/bindings/js/node/README.md
  src/bindings/js/node/binding.gyp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download_runtime.js
  src/bindings/js/node/scripts/setupvars.sh
  src/bindings/js/node/tests/basic.test.js
  src/bindings/js/node/tests/infer_request.test.js
  src/bindings/js/node/tests/partial_shape.test.js
  src/bindings/js/node/tests/pre_post_processor.test.js
  src/bindings/js/node/tests/read_model.test.js
  src/bindings/js/node/tests/tensor.test.js
  src/cmake/install_tbb.cmake
Labels: category: build, category: docs, category: inference, category: packaging, no-match-files

#77 Fix codestyle remarks
  samples/js/.gitignore
  samples/js/assets/datasets/.gitignore
  samples/js/assets/images/.gitignore
  samples/js/assets/models/.gitignore
  samples/js/assets/text/.gitignore
  samples/js/node/helpers.js
  samples/js/node/notebooks/003-hello-segmentation.nnb
  samples/js/node/notebooks/004-hello-detection.nnb
  samples/js/node/notebooks/213-question-answering.nnb
  src/bindings/js/node/CMakeLists.txt
  src/bindings/js/node/src/preprocess/resize_algorithm.cpp
Labels: category: samples, category: build, no-match-files
